*{
    margin: 0px;
    padding: 0px;
}
.header{
    
   height: 70px;
   background-color: grey;
    border-color: rgb(36, 32, 29);
    border-width: 3px;
    border-style: solid;
    margin: 3px;
    padding-top: 10px;
    color: rgb(32, 27, 27);
    text-align: center;

}

.img1{
   height: 300px;
   width: 300px;
   padding-left: 40%;
}

.ol,li{
    display: inline-block;
    height: 40px;
    width: 20%;
    padding-left: 10%;
}
.one{
    background-color: blanchedalmond;
    padding: 10px;
    margin: 15px;
    text-align: center;
}
.two{
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.three{
    height: 80px;
    color: black;
    background-color: tan;
    text-align: center;

}
